<?php 

$sessId = $_SESSION['core']["visitor_data"]["session_id"];
Mage::log('session redirectphtml: ' . $sessId, null, 'nestpay-logger.log');
///$session = Mage::getSingleton('core/session', array( 'value' => $sessId ));


$session = Mage::getSingleton('checkout/session', array( 'value' => $sessId ));

$orderId = $session->getLastRealOrderId();


$orderModel = Mage::getModel('sales/order');
$orders = $orderModel->getCollection()->setOrder('increment_id', 'DESC')->setPageSize(1)->setCurPage(1);
$orderId = $orders->getFirstItem()->getIncrementId();

$order   = Mage::getModel('sales/order')->loadByIncrementId($orderId);

$order_amount = round($order->getGrandTotal(),2);


Mage::log('Order ID: '.$orderId. "  Session: ".$session. "   Order: ".$order. "   Order amount: ". $order_amount, null, 'nestpay-logger.log');


$customerData = Mage::getSingleton('customer/session')->getCustomer();
$customerAddressId = Mage::getSingleton('customer/session')->getCustomer()->getDefaultBilling(); //oder getDefaultShipping
$address = Mage::getModel('customer/address')->load($customerAddressId);
$customer_name=$address->getFirstname().' '.$address->getLastname();
$customer_email=$customerData->getEmail();

$cfg = Mage::getStoreConfig('payment/nestpay');

$shop = Mage::getUrl('', array('_secure'=>true));
$success = Mage::getUrl('nestpay/nestpay/success', array('_secure'=>true));
$success = str_replace("Nestpay", "nestpay", $success);
$error   = Mage::getUrl('nestpay/nestpay/error', array('_secure'=>true));
$error   = str_replace("Nestpay", "nestpay", $error);




$orgOid = $orderId;
$orgCurrency = $cfg["currency_code"];
$orgAmount  = $order_amount;



$orgClientId  = $cfg["merchant_id"];
$storeKey 	  = $cfg["store_key"];

$orgOkUrl   = trim( $success );
$orgFailUrl = $error;
$orgTransactionType = "Auth";
$orgInstallment = "";
$orgRnd = date("his");



$clientId = str_replace("|", "\\|", str_replace("\\", "\\\\", $orgClientId));
$oid = str_replace("|", "\\|", str_replace("\\", "\\\\", $orgOid));
$amount = str_replace("|", "\\|", str_replace("\\", "\\\\", $orgAmount));
$okUrl = str_replace("|", "\\|", str_replace("\\", "\\\\", $orgOkUrl));
$failUrl = str_replace("|", "\\|", str_replace("\\", "\\\\", $orgFailUrl));
$transactionType = str_replace("|", "\\|", str_replace("\\", "\\\\", $orgTransactionType));
$installment = str_replace("|", "\\|", str_replace("\\", "\\\\", $orgInstallment));
$rnd = str_replace("|", "\\|", str_replace("\\", "\\\\", date("his")));
$currency = str_replace("|", "\\|", str_replace("\\", "\\\\", $orgCurrency));
$storeKey = str_replace("|", "\\|", str_replace("\\", "\\\\", $storeKey));

$plainText = $clientId . "|" . $oid . "|" . $amount . "|" . $okUrl . "|" . $failUrl . "|" .
$transactionType . "|" . $installment . "|" . $rnd . "||||" . $currency . "|" . $storeKey;

$hashValue = hash('sha512', $plainText);
$hash = base64_encode (pack('H*',$hashValue)) ;
$description = "";
$xid = "";
$lang="";
$email="";
$userid="";

?>
<form name="nestpayformOptiNinja" method="post" action="<?php echo $cfg["url"];?>">

<input type="hidden" name="shopurl" value="<?php echo $shop; ?>">
<input type="hidden" name="clientid" value="<?php echo $orgClientId ?>">
<input type="hidden" name="amount" value="<?php echo $orgAmount ?>">
<input type="hidden" name="oid" value="<?php echo $orgOid ?>">
<input type="hidden" name="okurl" value="<?php echo $orgOkUrl ?>">
<input type="hidden" name="failUrl" value="<?php echo $orgFailUrl ?>">
<input type="hidden" name="TranType" value="<?php echo $orgTransactionType ?>">
<input type="hidden" name="Instalment" value="<?php echo $orgInstallment ?>">
<input type="hidden" name="currency" value="<?php echo $orgCurrency ?>">
<input type="hidden" name="rnd" value="<?php echo $orgRnd ?>">
<input type="hidden" name="hash" value="<?php echo $hash ?>">
<input type="hidden" name="storetype" value="3D_PAY_HOSTING">
<input type="hidden" name="hashAlgorithm" value="ver2">
<input type="hidden" name="lang" value="en">
<input type="hidden" name="refreshtime" value="2" />
</form>

<script type="text/javascript">
	document.nestpayformOptiNinja.submit();
</script>